<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="0.2" android:versionCode="20000" package="com.anrichter.MDDevDaysApp">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<application android:label="Magdeburger Developer Days" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>